<p>Hello <%= @user.name %>,</p>
<p>
  I apologize but you didn't refreshed your account. It's means that you are
    removed from the waitlist.
</p>
<br>

<p>Feel free to submit your request again on the dashboard !</p>
<p>NB: you will naturally be placed at the end of the waiting list.</p>
<br>

<p>Have a nice day,</p>
<p>the Hexaworking Team !</p>
