<h3 class="panel-heading">Members on the waiting list</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope='col'>Order</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <% if request.user.admin %>
      <% else %>
      <tr>
        <th scope='row'><%= request.user.wait_order %></th>
        <td><%= request.user.name %></td>
        <td><%= request.user.email %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
