<div class="centered" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'); background-size: cover">

  <div class="panel panel-default">
  <h3 class="panel-heading">Members on the waiting list</h3>

  <%= render 'waiting_list' %>
  <%= render 'waiter_dashboard' %>

</div>
