<div class="centered" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), url('https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'); background-size: cover">
  <%= render 'shared/navbar' %>

  <div class="panel panel-default">

  <% if current_user.admin %>
    <%= render 'waiting_list' %>
  <% else %>
    <%= render partial: 'user_dashboard',
      locals: { status: @user.request.status, user: @user, req: @user.request } %>
  <% end %>
</div>
