<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime recusandae nulla ipsum, totam necessitatibus eum corrupti ducimus porro, quia. Iusto tempora reprehenderit nemo quisquam recusandae placeat, animi dolorem inventore. Laborum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore hic nisi distinctio optio eaque pariatur minima ipsa perferendis enim. Dolorum commodi, provident nisi dolor libero expedita numquam sapiente et explicabo!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
